<div class="col-xs-6 col-md-12 col-lg-12 col-sm-12 contenedor-formulario">

  <!-- general form elements -->
  <div class="box box-success">
       <div class="box-header with-border">
         <mat-icon class="box-header-icon">{{ data.values['catalogName'].icon }}</mat-icon>&nbsp;
         <h3 class="box-title">
            {{data.values['catalogName'].title}}
         </h3>
       </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="formulario example-form"  novalidate>
      <div class="title-module"></div>
        <div class="wrap" *ngFor="let key of keys">
           <div class="form-group color-input">
               <mat-form-field
                 *ngIf="data.values[key].type=='text'"
                  id="{{ data.values[key].id }}"
                  class="{{ data.values[key].class }}">
                  <input  matInput value="" placeholder="{{ data.values[key].title }}" #message>
               </mat-form-field>

               <mat-form-field
                  style="width: 302px;"
                  class="example-full-width"
                  id="{{ data.values[key].id }}"
                  class="{{data.values[key].class}}"
                  *ngIf="data.values[key].type=='textarea'">
                  <textarea  matInput placeholder="{{data.values[key].title}}"></textarea>
                </mat-form-field>
           </div>

        <div class="form-group color-input">
               <mat-form-field
                   style="width: 302px;"
                   *ngIf="data.values[key].type=='select'"
                   id="{{ data.values[key].id }}"
                   class="{{data.values[key].class}}">
                 <mat-select placeholder="{{data.values[key].placeholder}}">
                   <mat-option
                     *ngFor="let state of data.values[key].source"
                     (click)="verNotificacion(state);"
                     [value]="state">{{state}}</mat-option>
                  </mat-select>
                </mat-form-field>
        </div>


      </div>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
</div>
