.alineare{
    float: left;
    position: relative;
}
.contenedor{
    width: 100%;
} 
.alinedao{
   float: right;
}
.contenedor{
    background-color: white;
    margin-left: 2%;
    width: 95%;
    margin-right: 2%;
}
.iconos{
 width: 15%;
 height: auto;
 border-radius: 0 20px 20px 0;
}
h5{
    position: relative;
    float: left;
    color: white;
}
.pos{
    position: relative;
    float: left;
}
.boton{
        display:scroll;
            position:fixed;
           top: 90vh;
           left: 94%;
}
.agregar{
    background-color: white;
    position:fixed;
           top: 0%;
           right: 0%;
           height: 100vh;
           padding: 4%;
}
.agregar2{
    display: none;
    background-color: white;
    position:fixed;
           top: 0%;
           right: 0%;
           height: 100vh;
           padding: 4%;
}

#hide-me {
    display: none;   
  }
  #hide-me2 {
    display: block;
  }
  #hide-me3 {
    display: none;   
  }
  #hide-me4 {
    display: block;   
  }

  .pos1{
    position: relative;
    float: left; 
  }
  .tabla{
      padding-top: 2%;
      padding-left: 5%;
      padding-right: 8%;
  }
 .oculto{
   display: none;
 } 
 h3{
     font-size: medium;
 }
 .enlace{
     width: 100%;
     position: relative;
     float: left;
     text-decoration: none;
     color:black;
 }
  a:hover{
      background-color: white;
      height: 101%;
  }
  a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }
.fila{
    border-bottom: solid 1px lightgrey;
}
.titulo{
    border-bottom: solid 1px lightgrey;
}
.btn1{
    background-color: white;
}
#eli {
    display: none;   
  }
  #eli2 {
    display: block;
  }
.eliminar{
      position: fixed;
      width: 10%;
      height: 10%;
      
  }