<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="teetime-table" align="center">
        <div class="card" style="width:100%">
           <img class="card-img-top" src="assets/images/teetime.jpg" alt="Card image">
           <div class="card-body">
             <h4 class="card-title">
               <div class="ribbon base"><span> Hoyo 1</span></div>
             </h4>
              <mat-expansion-panel>
               <mat-expansion-panel-header>
                 <mat-panel-title>
                   Horarios
                 </mat-panel-title>
               </mat-expansion-panel-header>
              <mat-selection-list #availableHours >
                <mat-list-option *ngFor="let horas of horarios" selected = "true">
                  {{ horas }}
                </mat-list-option>
              </mat-selection-list>
                 <p>
                  Options selected: {{ availableHours.selectedOptions.selected.length}}
                 </p>
             </mat-expansion-panel>
             <br>
             <a href="#" class="btn btn-primary">Programar</a>
           </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="teetime-table" align="center">
        <div class="card" style="width:100%">
          <img class="card-img-top" src="assets/images/hoyo10.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">
              <div class="ribbon red teetime-table"><span> Hoyo 10</span></div>
            </h4>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Horarios
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list #availableHours >
                <mat-list-option *ngFor="let horas of horarios" selected = "true">
                  {{ horas}}
                </mat-list-option>
              </mat-selection-list>
              <p>
                Options selected: {{ availableHours.selectedOptions.selected.length}}
              </p>
            </mat-expansion-panel>
            <br>
            <a href="#" class="btn btn-primary">Programar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
